{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

<div class="example-wrapper">
   <h1>Profile</h1>
    {{ user.email }}
    {{ user.tokens }} / {{ subscription.pdfLimit }}
   {{ subscription.title }}
   {{ subscription.description }}

</div>
{% endblock %}
