{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="top-[20vh] left-[24vw] absolute animate-[bounce_8s_ease-in-out_infinite]"><img class="w-[65px]" style="filter: drop-shadow(0px 0px 15px rgba(255,255,255,0.84));" src="{{ asset("images/star.png") }}" alt=""></div>
    <div class="top-[70vh] left-[8vw] absolute animate-bounce"><img class="w-[20px]" style="filter: drop-shadow(0px 0px 15px rgba(255,255,255,0.84));" src="{{ asset("images/star.png") }}" alt=""></div>
    <div class="top-[80vh] right-[18vw] absolute animate-[bounce_2.4s_ease-in-out_infinite]"><img class="w-[30px]" style="filter: drop-shadow(0px 0px 15px rgba(255,255,255,0.84));" src="{{ asset("images/star.png") }}" alt=""></div>
    <div class="top-[30vh] right-[5vw] absolute animate-[bounce_4s_ease-in-out_infinite]"><img class="w-[40px]" style="filter: drop-shadow(0px 0px 30px rgba(255,255,255));" src="{{ asset("images/star.png") }}" alt=""></div>
    <div class="h-screen w-full flex items-center justify-center">
    <form method="post" class="bg-black/40 backdrop-blur-md rounded-xl p-6 w-[380px] space-y-3">

        {% if app.user %}
            <p class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a class="underline" href="{{ path('app_logout') }}">Logout</a>
            </p>
        {% endif %}
        <div class="pb-3 space-y-1">
            <h1 class=" text-center text-3xl font-semibold">Connexion</h1>
            <p class="text-center text-neutral-300 text-sm">Accédez à votre compte Sublime pour générer les meilleurs PDF</p>
        </div>
        <div class="flex flex-col gap-1.5">
            <label class="text-neutral-100" for="username">Email</label>
            <input class="h-10 rounded-lg bg-black/30 text-white pl-3" type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
        </div>
        <div class="flex flex-col gap-1.5">
            <label class="text-neutral-100" for="password">Password</label>
            <input class="h-10 rounded-lg bg-black/30 text-white pl-3" type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
        </div>
        {% if error %}
            <div class="text-red-500">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <div class="pt-3">
        <button class="rounded-lg bg-violet-600 hover:bg-violet-600/90 text-white font-semibold px-4 h-10 w-full" type="submit">
            Connexion
        </button>
        </div>

    </form>
    </div>
{% endblock %}
